.footer {
    font-size: clamp(0.9rem, 2.4vw, 1rem);
    color: white;
    justify-content: space-around;
    align-items: center;
    background-color: #153E4D;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 0rem ;
}

/* .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em
} */

.contact li {
    line-height: 2em;
}

.contactNum li {
    line-height: 2em;
    border-left: 2px solid white;
    padding-left: 2em;
}

.contactEmail li {
    line-height: 2em;
    border-left: 2px solid white;
    padding-left: 2em;
}


.links {
    border-top: 2px dotted white;
    display: flex;
    justify-content: space-evenly;
    background-color: #153E4D;
    color: #E38800;
    font-size: large;
}

.links li {
    padding: 1.2em;
}

@media (max-width: 564px) {
    .contactEmail {
        border-top: 2px solid white;
        flex-grow: 1;
        align-self: center;
    }
    .contactEmail li{
        border-left: 0;
    }
}