.StudentContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em 0em;
  border-bottom: 0.4em solid #153e4d;
}

.StudentContainer ul {
  margin-bottom: 2em 0em;
}
.StudentContainerNoBorder {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 2em 0em;
}

.StudentContainerNoBorder h1 {
  font-size: clamp(1.2rem, 2.9vw, 2rem);
  color: #153e4d;
  max-width: 80vw;
}

.StudentContainerNoBorder p {
  font-size: clamp(1rem, 1.4vw, 2rem);
  max-width: 70vw;
}

.StudentContainer li {
  list-style: circle;
  margin-bottom: 0.5em;
}

.QA1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.QA2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.StudentContainer h1 {
  font-size: clamp(1.2rem, 2.9vw, 2rem);
  color: #153e4d;
  max-width: 80vw;
}

.StudentContainer p {
  font-size: clamp(1rem, 1.4vw, 2rem);
  max-width: 70vw;
}
